/* Footer Component CSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #6b0058;
  position: relative;
  width: 100vw;
  height: 20vw;
  /* bottom: auto; */
  /* padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 10%;
  padding-left: 10%; */
}

.preethi {
  position: relative;
  top: 0%;
  left: 35%;
}

a:link {
  font-family: "Sunflower";
  font-size: 2vw;
  color: #ffffff;
  text-decoration: none;
  padding: 5%;
}

#copyright {
  font-family: "Sunflower";
  font-size: 2vw;
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

#links {
  margin-top: 5%;
  margin-bottom: 10%;
}

#socials {
  position: absolute;
  bottom: 10%;
  right: 5%;
  display: flex;
}

#socials img {
  margin-right: 10%;
}
